<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="example">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>


<div id="app" v-bind:class="[activeClass, errorClass]">test 1</div>
<div id="app2" v-bind:style="styleObject">test 2</div>

<ul id="v-for-object" class="demo">
    <li v-for="(value, key) in object">
        {{ key }} : {{ value }} 
    </li>
    <li v-for="n in evenNumbers">{{ n }}</li>
</ul>

<!-- v-for on a <template> -->
<ol id="app4">
  <template>
    <li v-for="item in items" v-if="item.flag">{{ item.msg }}</li>
  </template>
</ol>
<script>

    var example = new Vue({
        el: '#example',
        data: {
            message: 'Hello'
        },
        computed: {
            // a computed getter
            reversedMessage: function () {
                // `this` points to the vm instance
                return this.message.split('').reverse().join('')
            }
        }
    })

    var app = new Vue({
        el: '#app',
        data: {
            activeClass: 'active',
            errorClass: 'text-danger'
        }
    })

    var app2 = new Vue({
        el: '#app2',
        data: {
            styleObject: {
                color: 'red',
                fontSize: '53px'
            }
        }
    })
    
var app4 = new Vue({
    el:"#app4",
    data: {
        items:[
            { msg : 'Vegetable', flag : true},
            { msg : 'Meat', flag : false},
            { msg : 'Rice', flag : true}
        ]
    }
})
var exp = new Vue({
    el: "#v-for-object",
    data: {
        object:{
            name: "James",
            age: 30,
            gender: "M"
        },
        numbers: [ 1, 2, 3, 4, 5 ]
    },
    computed: {
        evenNumbers: function () {
            return this.numbers.filter((number) => {
                return number % 2 === 0
            })
        }
    }
})
</script>
