<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="example">
  <p>Original message: "{{ message }}"</p>
  <p>Computed reversed message: "{{ reversedMessage }}"</p>
</div>


<div id="app" v-bind:class="[activeClass, errorClass]">test 1</div>
<div id="app2" v-bind:style="styleObject">test 2</div>

<ul id="v-for-object" class="demo">
    <li v-for="(value, key) in object">
        {{ key }} : {{ value }} 
    </li>
    <li v-for="n in evenNumbers">{{ n }}</li>
</ul>

<!-- v-for on a <template> -->
<ol id="app4">
  <template>
    <li v-for="item in items" v-if="item.flag">{{ item.msg }}</li>
  </template>
</ol>

<!-- v-for with component -->
<div id="todo-list-example">
  <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="Add a todo"
  >
  <ul>
    <li
      is="todo-item"
      v-for="(todo, index) in todos"
      v-bind:key="todo.id"
      v-bind:title="todo.title"
      v-on:remove="todos.splice(index, 1)"
    ></li>
  </ul>
</div>
<script>
Vue.component('todo-item', {
  template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
  ',
  props: ['title']
})

new Vue({
  el: '#todo-list-example',
  data: {
    newTodoText: '',
    todos: [
      {
        id: 1,
        title: 'Do the dishes',
      },
      {
        id: 2,
        title: 'Take out the trash',
      },
      {
        id: 3,
        title: 'Mow the lawn'
      }
    ],
    nextTodoId: 4
  },
  methods: {
    addNewTodo: function () {
      this.todos.push({
        id: this.nextTodoId++,
        title: this.newTodoText
      })
      this.newTodoText = ''
    }
  }
})
// component end

    var example = new Vue({
        el: '#example',
        data: {
            message: 'Hello'
        },
        computed: {
            // a computed getter
            reversedMessage: function () {
                // `this` points to the vm instance
                return this.message.split('').reverse().join('')
            }
        }
    })

    var app = new Vue({
        el: '#app',
        data: {
            activeClass: 'active',
            errorClass: 'text-danger'
        }
    })

    var app2 = new Vue({
        el: '#app2',
        data: {
            styleObject: {
                color: 'red',
                fontSize: '53px'
            }
        }
    })
    
var app4 = new Vue({
    el:"#app4",
    data: {
        items:[
            { msg : 'Vegetable', flag : true},
            { msg : 'Meat', flag : false},
            { msg : 'Rice', flag : true}
        ]
    }
})
var exp = new Vue({
    el: "#v-for-object",
    data: {
        object:{
            name: "James",
            age: 30,
            gender: "M"
        },
        numbers: [ 1, 2, 3, 4, 5 ]
    },
    computed: {
        evenNumbers: function () {
            return this.numbers.filter((number) => {
                return number % 2 === 0
            })
        }
    }
})
</script>
